{% extends 'base.html' %}
{% load static %}

{% block 'links' %}

<link rel="stylesheet" href="{% static 'tables/home.css' %}">

{% endblock %}

{% block 'title' %}
<title>{{user.username}}'s Page</title>
{% endblock %}

{% block 'body' %}
    <main class="container">    

        <div class="paymant">
            <form method="post" action="{% url 'paymant' %}">
                {% csrf_token %}
                <p style="background-color: #ccc; text-align: center;height: 30px; justify-content: center;display: flex;align-items: center;">Վճարել</p>                   
                <input type="date" id="inputDate" class="inputDate" name="date">
                <label>
                    <p style="background-color: #ccc; text-align: center;"></p>                
                    <input type="number" name="debt">
                </label>
                <button type="submit" id="saveButton" style="font-size: 12px ;">Ուղարկել</button>
            </form>
        </div>
        
        <div class="return" >
            <form method="post" action="{% url 'return' %}">
                {% csrf_token %}
                <p style="background-color: #ccc; text-align: center;height: 30px; justify-content: center;display: flex;align-items: center;">Վերադարձ</p>                   
                <input type="date" id="inputDate" class="inputDate" name="date">
                <label>
                    <p style="background-color: #ccc; text-align: center;"></p>                   
                    <input type="number" name="debt">
                </label>
                <button type="submit" id="saveButton" style="font-size: 12px ;">Ուղարկել</button>
            </form>
        </div>

        {% for supplier in Suppliers %}
            <div class="table-heading-div">
                <h1 >{{ supplier.username }}</h1>
            </div>  
            <br>
            <table class="responsive-table" style="text-align: center;">
                <thead>
                    <tr>
                        <th style="text-align: center;">
                            Ապրանք
                        </th>
                        <th style="text-align: center;">
                            Քանակ
                        </th>
                        <th style="text-align: center;">
                            Գին
                        </th>
                        <th style="text-align: center;">
                            Ընդ...
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in Items %}
                        {% if i.supplier == supplier.username %}
                            {% if i.customer == request.user.username or i.customer == 'all' %}
                                <tr>
                                    <td class="productName" id="productName-{{i.id}}">
                                        {{ i.productName }}
                                    </td>
                                    <td class="productCount">
                                        <input type="number" name="inp" class="input{{i.id}} countInput"
                                            placeholder="count of product" value="0">
                                    </td>
                                    <td data-title='productPrice' class="productPrice">
                                        {{ i.productPrice }}
                                    </td>
                                    <td id="result-{{ i.id }}" class="totalPrice">
                                        0
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr style="height: 60px;">
                        <td style="border-top: 2px solid black;">
                            <a href=""><button id="saveButton" style="height: 40px;">Ջնջել</button></a>
                        </td>
                        <td style="border-top: 2px solid black;" colspan="2">
                            <a href=""><button id="saveButton" class="saveTable{{supplier.id}}" type="button" style="height: 40px;">Ուղարկել</button></a>
                        </td>
                        <td style="border-top: 2px solid black;" id="total-sum"></td>
                    </tr>
                </tfoot>
            </table>
            <br><br><br>
        {% endfor %}
    </main>

{% block 'scripts' %}
    <script src="{% static 'js/customer/customer.js' %}"></script>
    <script src="{% static 'js/customer/saveCustomerTable.js' %}"></script>
    <script src="{% static 'js/customer/inputDate.js' %}"></script>
{% endblock %}

{% endblock %}