{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block 'links' %}
    <link rel="stylesheet" href="{% static 'tables/home.css' %}">
{% endblock %}


{% block 'title' %}
    <title>Total</title>
{% endblock %}

{% block 'body' %}
<table>
    <thead>
        <tr>
            <th>Անուն</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in Customers %}
            <tr>
                <td>{{customer.username}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
